<!-- Mojo Resource Partial -->
<div class="grid-tpl-max-auto grid-col-span-2" style="align-items: center;">
    <label for="system.resources.mojo.value">
        {{localize "XCC.Mojo"}}
    </label>
    <div class="grid-tpl-min-auto grid-col-gap-5">
        <input type="number" id="system.resources.mojo.value" name="system.resources.mojo.value"
               value="{{system.resources.mojo.value}}" data-dtype="Number" min="0"/>
        <span>/</span>
        <input type="number" id="system.resources.mojo.max" name="system.resources.mojo.max"
               value="{{system.resources.mojo.max}}" data-dtype="Number" min="0"/>
    </div>
</div>
<div class="grid-col-span-2">
    <p class="data-font">{{localize "XCC.MojoDesc"}}</p>
</div>